/*General Styles*/
body {
  display: flex;
  
}
.main-content{
  background-image: url("Scrolled_Old_Picture.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.side-panel
{
  width: 20%;
}
.column {
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/*Specific Element Styles*/
.hp-bar-empty{
  width: 200px;
  border: 3px solid black;
  border-radius: 2px;
}

.hp-bar-full {

}

.skills {
  border: 3px solid black;
}
.items{
  border: 3px solid black;
}
