/*General Styles*/
body {
  margin: 0px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/*Specific Element Styles*/
.page-header {
  background-color: blue;
  height: 100px;
  color: grey;
}

.header-img {
  height: 98px;
  margin-left: 2%;
  margin-right: 2%;
}

.side-panel {
  width: 20%;
}

.main-content {
  background-image: url("assets/Scrolled_Old_Picture.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sheet-header {

}

.hp-bar-empty {
  width: 200px;
  height: 50px;
  border: 3px solid black;
  border-radius: 2px;
  background-color: grey;
  transition: all 1s linear 0s;
}

.hp-bar-full {
  height: inherit;
	width: inherit;
	background-color: #1a1a1a;
	margin: 0.5em 0 0 1em;
	border: 1px solid #090909;
}

.skills {
  border: 3px solid black;
}

.items{
  border: 3px solid black;
}
