/*General Styles*/
body {
  margin: 0px;
  font-family: 'Bilbo', cursive;
  background: url('assets/leather.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.stat {
  width: 35px;
  height: 20px;
  margin-right: 10px;
}

.hp-stat {
  width: 45px;
  height: 20px;
  margin-right: 10px;
}

label {
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 10px;
}

label.primary {
  font-family: 'Berkshire Swash', cursive;
  /*font-family: 'Trade Winds', cursive;*/
}

select {
  height: 35px;
  margin-right: 20px;
  margin-top: 20px;
}

.cell-title {
    font-family: 'Berkshire Swash', cursive;
    /*font-family: 'Trade Winds', cursive;*/
    margin-top: 0px;
    margin-right: 25px;
}

/*Specific Element Styles*/
.page-header {
  font-family: 'Berkshire Swash', cursive;
  background-color: blue;
  height: 100px;
  color: black;
}

.header-img {
  height: 98px;
  margin-left: 2%;
  margin-right: 2%;
}

.side-panel {
  width: 20%;
}

.main-content {
  padding: 8% 15% 6% 11%;
  width: 75%;
  height: 110%;
  background-image: url("assets/Scrolled_Old_Picture.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header-input {
  height: 35px;
  margin-right: 20px;
}

.level .align {
  width: 35px;
}

.sheet-header {

}

.player-stats {
  justify-content: space-between;
}

.main-stats {
  border: 3px solid black;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hp-ac {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -90px;
  font-size: .8em;
}

.hp-bar-container {
  width: 200px;
  height: 20px;
  border-radius: 2px;
  background-color: grey;
  transition: all 1s linear 0s;
}

.hp-bar {
  border-radius: 2px;
  height: inherit;
	width: inherit;
}

.skills {
  margin-bottom: 20px;
  padding: 8px;
  width: 418px;
  border: 3px solid black;
}

.skill {
  width: 100px;
}
.inventory{
  justify-content: space-between;
}

.items{
  border: 3px solid black;
  padding: 8px;
  max-height: 280px;
  overflow: auto;
}
.items-header{
  position: sticky;
}
.weapons-header{
  position: sticky;
}
.weapons{
  border: 3px solid black;
  padding: 8px;
  max-height: 280px;
  overflow: auto;
}
